/* resent css */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.body {
    font-family: "Inter", sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    border: 1px solid blue;
    padding: 0 80px;
}
ul {
    display: flex;
}

.nav-item {
    list-style: none;
    margin: 0px 15px;
}
.nav-link {
    font-size: 18px;
    color: rgb(85, 84, 84);
}

.btn {
    padding: 0px 18px;
    color: rgb(68, 151, 68);
}
.logo {
    color: rgb(68, 151, 68);
    font-size: 30px;
    font-weight: 300;
}


/* HERO SECTION STYLES */

.foodies-section {
    display: flex;
    justify-content: space-between;
    height: 400px;
    /* height: calc(100vh-60px); */
    border: 1px solid red;
    padding: 0 80px;
    background-color: aliceblue;
}

.left-foodies-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    
}

.right-foodies-section {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;top: 60px;
}

.foodies-text {
    font-size: 40px;
}

.foodies-content {
    color: rgb(105, 105, 105);
    margin-top: 20px;
}

.foodies-btn {
    background-color: rgb(98, 172, 98);
    width: 100px;
    height: 45px;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-top: 20px;
}

.image-section {
    display: flex;
    /* justify-content: space-between; */
    width: 60%;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
    margin-top: 30px;
    margin-left: 5px;
    color: rgb(95, 91, 91);
}

.veggie-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    margin-top: 40px;
    /* border: 1px solid yellow; */
}

.veggie-heading {
    font-size: 15px;
}

.veggie-text {
    font-size: 40px;
    margin-top: 20px;
}

.veggie-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number-content {
    margin-top: 30px;
    /* border: 1px solid purple; */
}
.number {
    font-size: 25px;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    color: rgb(30, 172, 30);
}

.text {
    color: rgb(83, 81, 81);
    margin-top: 10px;
}

.veggie-anchor {
    margin-top: 50px;
}

.right-veggie-section {
    /* border: 1px solid red; */
    width: 400px;
    height: 450px;
    background-color: aliceblue;
    position: relative;
}
.veggie-image {
    top: 0;
    left: 50px;
    right: 0;
    position: absolute;
}
.veggie-btn {
    background-color: rgb(86, 148, 86);
    color: white;
    width: 150px;
    height: 60px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.variety-section {
    border: 1px solid rgb(255, 81, 0);
    background-color: white;
    padding: 0px 80px;
}
.top-variety-section {
    /* border: 1px solid rgb(194, 35, 35); */
}
.variety-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-size: 15px;
}
.variety-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 30px;
}

.variety-container {
    /* border: 1px solid green; */
    justify-content: center;
    width: 80%;
}
.upper-container {
    display: flex;
    margin-top: 50px;
}
.upper-text {
    background-color: aliceblue;
    width: 200px;
}
.u-head {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 25px;
}
.u-text {
    color: rgb(94, 94, 94);
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 15px
}
.u-btn {
    background-color: rgb(181, 223, 181);
    width: 50px;
    height: 30px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    color: rgb(12, 138, 12);
    margin-top: 20px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}
 

.lower-container {
    display: flex;
}
.lower-text {
    background-color: aliceblue;
    width: 200px;
}
.l-head {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 25px;
}
.l-text {
    color: rgb(94, 94, 94);
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 15px;
}
.l-btn {
    background-color: rgb(181, 223, 181);
    width: 50px;
    height: 30px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    color: rgb(12, 138, 12);
    margin-top: 20px;
    margin-left: 15px;

}
